<ion-header>
	<ion-toolbar color="secondary">
		<ion-title>Deaths</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<ion-item class="ion-padding-horizontal">
		<h1>People killed because of a character? Search for name of the character! Spooky you creep! :)</h1>
	</ion-item>

	<ion-searchbar [(ngModel)]="death" (ionChange)="search($event)"></ion-searchbar>
<!-- ngFor - https://angular.io/api/common/NgForOf -->
	<ion-card color="warning" *ngFor="let death of deaths | async">
		<h1 class="ion-text-center"> {{ death.deathCount }} </h1>
	</ion-card>

</ion-content>